.button {
  height: 100%;
  border-radius: 8px;
  background: rgb(255, 153, 0);
  color: #fff;
  outline: none;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  transition: background 0.5s ease-in-out;
  overflow: hidden;

  &:hover,
  &:focus {
    background: rgba(255, 153, 0, .7);
  }

  &_disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &_icon {
    &_position {
      &_left {
        margin-right: 10px;
      }

      &_right {
        margin-left: 10px;
      }
    }

    &_size {
      &_small {
        width: 16px;
        height: 16px;
      }

      &_medium {
        width: 24px;
        height: 24px;
      }

      &_large {
        width: 32px;
        height: 32px;
      }
    }
  }

  &_size {
    &_small {
      height: 40px;
      padding: 0 40px;
    }

    &_medium {
      height: 50px;
      padding: 0 50px;
    }

    &_large {
      height: 60px;
      padding: 0 60px;
    }
  }
}
